@model  IEnumerable<SistemaLoja.ViewModels.UserView>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de usuários</h2>

<table class="table">
   

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Permissões", "Roles", new { userId = item.UserId }) |
            </td>
        </tr>
    }

</table>
